/* * {
  font-family: "Times New Roman", Times, serif;
  color: black;
}
body {
  height: fit-content;
  background-color: rgb(229, 224, 224);
  margin: 0;
  border: 1px solid black;
}
#home {
  background: url("/IMGS/icons8-home-page-30.png") no-repeat left top;
  height: 34px;
  padding-top: 7px;
  padding-left: 44px;
}
#about {
  background: url("/IMGS/icons8-info-30.png") no-repeat left top;
  height: 34px;
  padding-top: 7px;
  padding-left: 44px;
}
#contact {
  background: url("/IMGS/icons8-contact-30.png") no-repeat left top;
  height: 34px;
  padding-top: 7px;
  padding-left: 44px;
}
#mission {
  background: url("/IMGS/icons8-mission-30.png") no-repeat left top;
  height: 34px;
  padding-top: 7px;
  padding-left: 44px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
#mainp1 {
  border: 1px solid black;
  width: 800px;
  height: fit-content;
  margin: 20px 20px 20px 20px;
}
#mainp2 {
  border: 1px solid black;
  width: 800px;
  height: fit-content;
  margin: 20px 20px 20px 20px;
}
.header {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  background-color: grey;
  height: 70px;
  width: 100%;
  position: static;
  top: 0;
}
.sidebar {
    display: flex;
max-width: 200px; 
width: 30%;
}
main{
    width: 70%;
}
#mainp1 {
  background-color: white;
  padding: 20px;
  border-radius: 5%;
}
#mainp2 {
  background-color: white;
  padding: 20px;
  border-radius: 5%;
}
#footer {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  background-color: gray;
  text-align: center;
  height: 70px;
}
#img1 {
  position: static;
  border: 2px solid black;
  margin-left: 60px;
  margin-bottom: 10px;
  border-radius: 5%;
}
#user {
  display: flex;
  flex-direction: wrap;
}
#user1{
  display: flex;
}
#img {
  border-radius: 50%;
  padding: 10px;
}
#krajno {
  color: red;
}
ul {
  list-style-type: none;
}
nav {
  margin-top: 200px;
  margin-left: 50px;
}
#prvdel {
  margin-left: 60px;
  margin-bottom: 10px;
} */
