h1{
    text-align: center;
    color: rgb(228, 115, 35);
}
.Paragraphs{
    text-decoration: dashed;
    text-shadow: 2px 2px 5px orange;
}
*{
    background-color: black;
    color: white;
    background-image: ;
}